# Keil build outputs
*.uvguix.*
*.uvoptx
*.Administrator
*.scvd
*.uvg.*
*.uvgui.*
*.dep
*.crf
*.d
*.o
*.axf
*.hex
*.bin
*.htm
*.lnp
*.plg
*.lst
*.iex
*.tra
*.map
*.sct
*.orig
*.bak
/Project/Listings/
/Project/Objects/
/Project/DebugConfig/
JLinkLog.txt
JLinkSettings.ini

# Claude Code
.claude/

# OS
Thumbs.db
Desktop.ini
.DS_Store
